{% extends "base.html" %} {% block content %}
<div style="text-align: center; margin-top: 2rem">
  <!-- Photo Section -->
  <figure style="margin: 0 auto">
    <img
      class="is-rounded"
      src="{{ url_for('static', filename='images/pexels-photo-2486168.jpeg') }}"
      alt="Your Photo"
    />
  </figure>
  <h2 style="margin-top: 1rem; font-size: 2rem">Kathleen Koch</h2>

  <!-- CV Section -->
  <div
    style="
      margin: 0 auto;
      max-width: 800px;
      text-align: justify;
      line-height: 1.6;
      padding: 1rem;
    "
  >
    <ul style="list-style: none; padding: 0">
      <li>
        Kathleen Koch is an Irish-American mixed-media artist, poet,
        singer-songwriter and social healer, currently living in France, just
        outside Geneva, Switzerland. She has studied art with Pascale Lorge
        (Brussels), Alain Gegout (Brétigny) and Nicole Henke
        (Divonne-les-Bains). She has organized art exhibits and offered art
        therapy courses in Geneva. Her paintings have been privately
        commissioned and displayed in various homes around the world. Kathleen
        has studied in five countries and holds two Master’s degrees. Brought up
        as an Irish girl in Wisconsin, she married a German and raised three
        children (all of whom are now older than she is). Kathleen’s poems and
        songs include tributes to beloved places and people (as well as deceased
        pets!), and focus on a variety of social, psychological, and
        environmental issues. Her poems have appeared in several local
        publications, and many more are shared on her Facebook page,
        <a
          href="https://www.facebook.com/kathleen.koch.796/"
          target="_blank"
          style="color: #ff9800; font-weight: bold; text-decoration: underline"
        >
          Facebook Profile </a
        >. Many of her songs can be found on
        <a
          href="https://www.youtube.com/c/KathleenKoch"
          target="_blank"
          style="color: #ff9800; font-weight: bold; text-decoration: underline"
        >
          YouTube Channel </a
        >.
      </li>
    </ul>
  </div>
</div>
{% endblock %}
