{% extends "base.html" %}

{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %} 
    {% for category, message in messages %}
    {% if category == 'success' %}
        <div class="notification is-success">{{ message }}</div>
    {% else %}
        <div class="notification is-danger">{{ message }}</div>
    {% endif %}
    {% endfor %}
{% endwith %}

<!-- Email form -->
<form action="/reset_password_request" method="POST">
    <div class="field">
        <label class="label">Enter your email</label>
        <div class="control">
            <input class="input" type="email" name="email" placeholder="e.g. john.doe@example.com" required>
        </div>
    </div>
    
    <div class="control">
        <button class="button is-link" type="submit">Check Email</button>
    </div>
</form>
{% endblock %}
